body {
    background-color: lawngreen;
}

.box {
    text-align: center; /* Center the image inside the box */
}

img {
    width: 50%;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    left: 370px;
}
